<#@ template language="C#" debug="false" hostspecific="false" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".cs" #>
<#
    var slotMapType = "SecondaryMap";
#>
<#@ include file="..\Templates\Secondary\SecondaryInsertTestTemplate.t4" #>