<#@ template language="C#" debug="false" hostspecific="false" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".cs" #>
<#
    var slotMapType = "SparseSecondaryMap";
#>
<#@ include file="..\Templates\Secondary\SecondaryTryInsertTestTemplate.t4" #>